<div class="profileHeader " >

  <div >
    <div >

    <div>
        <h2 class="name text-center " >Profile Page</h2>
        <img  class="img-responsive text-center " src="{{ asset('img/bones.png') }}">
      </div>
    </div>
      <div class="containerProfileInfo" >

        <div class="" >
          <div class="col-sm-4 col-md-4 ">

            <div class='imgProfilePage' style="background-image:url('{{asset('img/profileIMG')}}')" >
            </div>

          </div>
          <div class="col-sm-4 col-md-4 text-left ">

            <p>{{ app.user.username | upper }}</p>
            <p>{{ app.user.name | capitalize }} {{ app.user.surname | capitalize}}</p>
            <p>Followers</p>
            <p>People you follow</p>

          </div>
          <div class="col-sm-4 col-md-4 text-left ">

            <a href="/edit_profile" > <button type="submit" class="btn btn-default bluButton " >Edit Profile</button></a>
            <a href="/resetting" ><button type="submit" class="btn btn-default bluButton " >Change Password</button> </a>             
          </div>

        </div>
      </div>
    </div>
  </div>
</div>